<div *ngIf="!resultado" class="main">
  <div class="center">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12">
        <fa-icon class="logo" [icon]="faFireAlt"></fa-icon>  <span>Calculadora de Calorias</span>

          <div class="row">
            <div class="col-lg-12 text-right"><fa-icon class="food" [icon]="faUtensils"></fa-icon> com macros.</div>
          </div>
        </div>
        
      </div>

      <div class="row">
        <div class="col">

          <form #loginForm="ngForm" (ngSubmit)="calcularResultado()">
            <div class="form-group">
              <label for="formGroupExampleInput">Seu Sexo</label>
              <select class="form-control" [(ngModel)]="sexo" name="sexo" required>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
              </select>
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Idade</label>
              <input type="number" class="form-control" id="idade" [(ngModel)]="idade" ng-pattern="/(^0$)|(^[1-9]\d{0,8}$)/" name="idade" min="0" required>
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Peso</label>
              <input type="number" class="form-control" id="peso" [(ngModel)]="peso" name="peso" min="0"  placeholder="Seu peso em KG" required>
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Altura</label>
              <input type="number" class="form-control" id="altura" [(ngModel)]="altura" name="altura" min="0"  placeholder="Sua altura em cm" required>
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Nível de atividade fisica</label>
              <select class="form-control" [(ngModel)]="nivelAtividadeFisica" name="nivelAtividadeFisica" required>
                <option value="1.2">Sedentário</option>
                <option value="1.375">Pouca Atividade</option>
                <option value="1.55">Atividade Moderada</option>
                <option value="1.725">Atividade Intensa</option>
                <option value="1.9">Atividade Muito Intensa</option>
              </select>
            </div>
            
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Calcular</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="resultado" class="container mt-5" >
  <div class="row">
    <div class="col">
      <h2>Aqui está o resultado:</h2>
      <div class="container-resultado mb-5">
        <ul>
          <li>
            Seu metabolismo basal é de <strong>{{tmb}} calorias</strong>.
          </li>
          <li>
            Para manter o seu peso você precisa consumir em média <strong>{{manutencao}} calorias</strong>.
          </li>
          <li>
            Para perder peso você precisa consumir em média <strong>{{perderPeso}} calorias</strong>.
          </li>
          <li>
            Para ganhar peso você precisa consumir em média <strong>{{ganharPeso}} calorias</strong>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="resultado" class="container">
  <h2>Macronutrientes:</h2> <h3>30/35/35 significa 30% proteina, 35% gordura, 35% carboidrato</h3>
  <div class="row">
    <div *ngFor="let macro of macros" class="col-md-12">
      <div class="col-md-12">{{macro.id}}</div>
      <div class="container-resultado-macros mb-5">
        <div class="container">

          <div class="row">
            <div *ngFor="let item of macro.Macros" class="col-md-4">
              <div class="container-macros text-center">
                <p>{{ item.TipoObjetivo }}</p>


                <p>{{item.Proteina}}g<br />
                proteina</p>

                <p>{{item.Gordura}}g<br />
                gordura</p>

                <p>{{item.Carboidrato}}g<br />
                carboidrato</p>

                <p>Calorias: {{ item.TotalCalorias }}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-block mb-5" (click)="voltar()">Voltar</button>
</div>